<div class="col">
  <div class="container">
    <!-- Component Header -->
    <div class="row"> 
      <div class="jumbotron jumbotron-fluid">
        <div class="container center">
          <ng-lottie
            height="200px"
            containerClass="moving-box another-class"
            [options]="options"
            (animationCreated)="animationCreated($event)"
          ></ng-lottie>
          <h2 class="display-2">hourglass</h2>
          <p class="lead">Reminder to limited nature of the time</p>
        </div>
      </div>        
    </div>
    <!-- Component Header -->

    <form #myform="ngForm" novalidate>
      <div class="row">   
        <div class="form-group" >
          <label for="firstname">Name</label>
          <input type="text" required class="form-control" name="firstname" #firstname="ngModel" pattern="^[A-Za-z\s]{1,}[\.' ]{0,1}[A-Za-z\s]{0,}$" aria-describedby="firstnamehelp" placeholder="Enter Name" [(ngModel)]="username" autocomplete="off">
          <div *ngIf="firstname.dirty && firstname.invalid">
            <small id="helpId" class="text-danger">Please enter valid name</small>
          </div>
          <div *ngIf=" firstname.dirty && firstname.value.length > 40 ">
            <small id="helpId" class="text-danger">Sorry! name cannot exceed 40 characters</small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="dateofbirth">Date of birth</label>
          <input type="text" required class="form-control" name="dateofbirth"  #dateofbirth="ngModel" placeholder="DD/MM/YYYY" pattern="^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$" [(ngModel)]="userdateofbirth" autocomplete="off">
          <div *ngIf=" dateofbirth.invalid && dateofbirth.dirty">
            <small id="helpId" class="text-danger">Please use valid date format DD/MM/YYYY</small>
          </div>
        </div>
      </div>
      <div class="row">
       <p></p>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-dark" [disabled]=!myform.valid (click)="onClickContinue(myform)" routerLink="time">Continue</button>
      </div>
      </form>        
      <br>
      <div class="row">
        <ng-template #login>
          <button type="button" class="btn btn-link lead" data-toggle="modal" data-target="#user-login">Already have an account</button>
        </ng-template>
      </div>
      <div class="row align-self-center " *ngIf="auth.user$ | async as user; else login"> 
        <div class="container col-6">
          <button type="button" class="btn btn-outline-dark btn-sm lead" (click)="getUserDetails()">Back to time</button>
        </div>
        <button type="button" class="btn btn-link lead" (click)="auth.signOut()">Logout</button>
      </div>    
  </div>
</div>


<!-- Login Modal Begins -->
<div class="modal fade container-fluid" data-keyboard="false" data-backdrop="static" id="user-login" tabindex="-1" role="dialog" aria-labelledby="user-login" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <app-amiloggedin></app-amiloggedin>
      </div>
    </div>
  </div>
</div>


<!-- Login Model Ends -->